container_commands:
  01_makemigrations:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
  04_superuser:
    command: "python manage.py createsu"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"
  06_loaddata_achievements: # comment this command if you dont need mission data fixture
    command: "python manage.py loaddata achievements-fixture.json"